<h2>Reactive RxJS Counter</h2>

<div class="info">
  <div>
    Counter:
    <strong>{{ counter$ | async }}</strong>
  </div>
  <div>
    Double:
    <strong>{{ doubleCounter$ | async }}</strong>
  </div>
</div>

<div class="actions">
  <button (click)="increment()">Increment <small>(instant)</small></button>
  <button (click)="incrementByTwo()">
    Increment by 2 <small>(instant)</small>
  </button>
  <button (click)="incrementAfterTimeout()">
    Increment after timeout <small>({{ delayTime / 1000 }}s delay)</small>
  </button>
  <button (click)="incrementAfterAPICall()">
    Increment after API call <small>(>{{ delayTime / 1000 }}s delay)</small>
  </button>
  <button (click)="reset()">Reset</button>
</div>
